:host {
  flex: 1;
}

.user-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrap {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    outline: none;
  }

  &__title {
    margin: {
      bottom: 0;
      right: 10px;
    };
    user-select: none;
  }

  &__img {
    cursor: pointer;

    & img{
      vertical-align: middle;
    }
  }
}
