@import "../../../../styles/vars";

:host {
  cursor: pointer;
}

.search-item {
  padding: 14px;
  box-sizing: border-box;
}

.new-date,
.medium-date,
.old-date {
  border-bottom: 5px solid;
}

.new-date{
  border-color: #005eff;
}

.medium-date{
  border-color: #2d8000;
}

.old-date {
  border-color: #ff0000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 263px;
  height: 365px;
  box-sizing: border-box;

  &__figure {
    & img {
      vertical-align: top;
    }
  }

  &__info {

    &-list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 10px;
      list-style-type: none;
    }

    &-item {
      & img{
        margin-right: 5px;
        vertical-align: -1px;
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: $card-title-color;
  }

  &__footer {
    text-align: center;
  }
}
