@import "../../vars";

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
  background-color: $primary-color;

  &-item {
    flex: 1;
  }

  app-search-panel {
    flex: 2;
  }

  app-user-login {
    flex: 1;
  }
}
