.container {
  display: flex;
  flex-direction: column;
}

app-sort-panel {
  overflow: hidden;
}

.search-panel,
.user-login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-panel {

  .play-btn,
  .setting-btn {
    cursor: pointer;
  }

  .play-btn,
  .search-field,
  .search-btn,
  .setting-btn {
    margin-right: 20px;
  }

  .search-field {
    width: 50%;
  }

  .setting-btn img{
    vertical-align: middle;
  }
}
