<div class="container">
  <div class="search-panel">

    <div class="play-btn">
      <img src="assets/img/logo.svg" alt="play">
    </div>

    <mat-form-field class="search-field">
      <input #search matInput placeholder="Name">
    </mat-form-field>

    <button class="search-btn" (click)="searchVideo()" mat-raised-button>Search</button>

    <div class="setting-btn" (click)="isFilterShow()">
      <img src="assets/img/search_settings.svg" alt="settings">
    </div>

  </div>
  <ng-container *ngIf="isFilter">
    <app-sort-panel></app-sort-panel>
  </ng-container>

</div>
