<div class="container">
  <div class="sort-panel">

    <p class="sort-panel__title">Sorting by:</p>

    <ul class="sort-panel__list">
      <li class="sort-panel__item selected">
        date
      </li>
      <li class="sort-panel__item selected">
        count of view
      </li>
      <li class="sort-panel__item">
        by word or sentence

        <mat-form-field class="sort-panel__input">
          <input matInput placeholder="Word or sentence">
        </mat-form-field>
      </li>
    </ul>
  </div>
</div>
